<div style="padding: 20px;" class="container-fluid">
    <img style="float: left; width: 100; height: auto; border: 1px solid; box-shadow: 5px 10px 8px #888888; margin: 20px;" src="{{site.url}}/figures/face.png">

    Hi all! I am <em>{{site.name}}</em>. I am a researcher in Artificial Intelligence at the
    <a href="https://istc.cnr.it">Institute of Cognitive Sciences and Technologies</a>
    of the
    <a href="https://www.cnr.it/en">National Research Council</a>
    of Italy. I am a member of the
    <a href="https://www.istc.cnr.it/it/group/pst">Planning and Scheduling Technology</a>
    (PST) Lab, a research group mainly focused on automated and interactive techniques for planning problems.
</div>