<footer class="bg-light d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div>
        <a href="mailto:riccardo.debenedictis@istc.cnr.it">
            <i class="bi bi-envelope"></i>
        </a>
        <a href="https://github.com/riccardodebenedictis">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://twitter.com/ricdebenedictis">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.facebook.com/syddeben">
            <i class="bi bi-facebook"></i>
        </a>
    </div>
</footer>