<footer class="bg-light">
    <div>
        <a href="mailto:riccardo.debenedictis@istc.cnr.it">
            <i class="bi bi-envelope"></i>
        </a>
        <a href="https://github.com/riccardodebenedictis">
            <i class="bi bi-github"></i>
        </a>
        <a href="https://twitter.com/ricdebenedictis">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="https://www.facebook.com/syddeben">
            <i class="bi bi-facebook"></i>
        </a>
    </div>
</footer>