<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">© 2022 {{site.name}}</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="mailto:riccardo.debenedictis@cnr.it">
                    <i class="bi bi-envelope"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://github.com/riccardodebenedictis">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://twitter.com/ricdebenedictis">
                    <i class="bi bi-twitter"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://mastodon.uno/@riccardodebenedictis">
                    <i class="bi bi-mastodon"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="https://www.facebook.com/syddeben">
                    <i class="bi bi-facebook"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>